<section *ngIf="!charged">
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    <div class="div4"></div>
    <div class="div5"></div>
    <div class="div6"></div>
    <div class="div7"></div>
    <div class="div8"></div>
    <div class="div9"></div>
    <div class="div10"></div>
</section>

<span *ngIf="charged">
    <h1>Listado de Presupuestos</h1>
    <a class="btn btn-primary float-md-right" routerLink="/addpres">Añadir
        nuevo presupuesto</a>
    <table class="table table-bordered table-striped tabla" style="margin-top: 
40px;">
        <thead>
            <tr class="filters">
                <th>Proveedor</th>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Base</th>
                <th>IVA</th>
                <th>Total</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let presupuesto of presupuestos">
                <td>{{ presupuesto.proveedor }}</td>
                <td>{{ presupuesto.fecha }}</td>
                <td>{{ presupuesto.concepto }}</td>
                <td>{{ presupuesto.base }}</td>
                <td>{{ presupuesto.iva }}</td>
                <td>{{ presupuesto.total }}</td>
                <td>
                    <button type="button" class="btn btn-success"
                        routerLink="/editpres/{{ presupuesto.key }}">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="this.delPresupuesto(presupuesto)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</span>